* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.sidenav {
  width: 200px;
  height: 100vh;
  padding-right: 0px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.sidenav.dark {
  background-color: #292b2f;
  color: #fff;
}
.dark {
  background-color: #292b2f;
  color: #fff;
}
.sidenav .sidenav-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 0px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}
.sidenav .sidenav-header .logo {
  height: 30px;
}
.sidenav .nav-item {
  display: flex;
  align-items: center;
}
.sidenav .nav-item a {
  display: flex;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
}
.sidenav .nav-item a.light {
  color: #262626;
}
.sidenav .nav-item a.dark {
  color: #fff;
}
.sidenav .nav-item a:hover {
  color: blue;
}
.sidenav .nav-item .nav-icon {
  font-size: 20px;
  margin-right: 10px;
}
.sidenav .nav-item .nav-label {
  font-size: 14px;
}
.sidenav .search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}
.sidenav .search-box .search-icon {
  font-size: 20px;
  margin-right: 10px;
}
.sidenav .search-box .search-input {
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  width: 70%;
}
.sidenav .search-box .search-input.dark {
  background-color: #44464b;
  color: #fff;
}
.sidenav .sidenav-footer {
  display: flex;
  align-items: center;
  padding-left: 43px;
}
.sidenav .sidenav-footer .theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 8px 16px;
}
.sidenav .sidenav-footer .theme-toggle .theme-icon {
  font-size: 20px;
  margin-right: 10px;
}
.sidenav .sidenav-footer .theme-toggle .theme-icon:hover {
  color: blue;
}
.sidenav .sidenav-footer .theme-toggle .theme-label {
  font-size: 14px;
}
.sidenav .sidenav-footer .theme-toggle .theme-label:hover {
  color: blue;
}
@media only screen and (min-width: 779px) {
  .sidenav .nav-item {
    padding: 10px;
  }
  .sidenav .nav-item a {
    padding: 8px 16px;
  }
  .sidenav .logo {
    height: 5px;
    margin-left: 12px;
    margin-right: 0px;
    padding-left: 0px;
  }
  .sidenav .sidenav-header {
    padding: 10px 10px 5px 10px;
  }
}
@media only screen and (max-width: 480px) {
  .sidenav {
    width: 100vw;
    height: 7vh;
    bottom: 0;
    top: auto;
    border-top: 1px solid #ddd;
  }
  .sidenav .sidenav-header {
    border-bottom: none;
    display: none;
  }
  .sidenav .nav-list {
    display: flex !important;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .sidenav .search-box {
    display: none;
  }
  .sidenav .sidenav-footer {
    display: none;
  }
  .sidenav ol, .sidenav ul {
    padding-left: 0;
  }
  .sidenav .nav-item {
    padding: 10px;
  }
  .sidenav .nav-item .nav-icon {
    font-size: 16px;
    margin-right: 5px;
  }
  .sidenav .nav-item a {
    padding: 0px 16px;
  }
  .sidenav .nav-list .hide-icon {
    display: none;
  }
}
@media only screen and (min-width: 779px) and (max-width: 970px) {
  .post {
    margin-left: 100px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 779px) {
  .sidenav {
    width: 85px;
    height: 100vh;
    top: 0;
    bottom: auto;
  }
  .sidenav .logo {
    height: 5px;
    margin-left: 12px;
    margin-right: 0px;
    padding-left: 0px;
  }
  .sidenav .search-box {
    display: flex;
  }
  .sidenav .sidenav-footer {
    display: flex;
  }
  .sidenav .nav-item .nav-icon {
    font-size: 16px;
  }
  .sidenav .nav-item {
    padding: 10px;
  }
  .sidenav .pfp{
    padding: 5px;
  }
  .sidenav .nav-item a {
    padding: 8px 16px;
  }
  .sidenav .sidenav-header {
    padding: 10px 10px 10px 10px;
  }
}
@media only screen and (max-width: 779px) {
  .sidenav .nav-item a .nav-label {
    display: none;
  }
  .kode {
    display: none;
  }
}